.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  margin-top: 56px; 
  flex: 1;
  overflow-x: hidden; 
  height: calc(100vh - 56px);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}