<div class="offset-md-4 col-md-4 mt-5">
  <h2 class="mb-4">Forgot Password</h2>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-3">
      <label for="email">Enter your email address</label>
      <input
        id="email"
        type="email"
        class="form-control"
        formControlName="email"
      />
    </div>

    <button
      class="btn btn-primary w-100"
      type="submit"
      [disabled]="forgotPasswordForm.invalid"
    >
      Send Reset Link
    </button>
  </form>
</div>
