@import "bootstrap/scss/bootstrap";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-mdc-snack-bar-container.success-snackbar {
  --mdc-snackbar-container-color: #4caf50 !important;
  background-color: #4caf50 !important;
}

.mat-mdc-snack-bar-container.error-snackbar {
  --mdc-snackbar-container-color: #f44336 !important;
  background-color: #f44336 !important;
}

.mat-mdc-snack-bar-container.warning-snackbar {
  --mdc-snackbar-container-color: #ff9800 !important;
  background-color: #ff9800 !important;
}

.success-snackbar .mat-mdc-snack-bar-label,
.error-snackbar .mat-mdc-snack-bar-label,
.warning-snackbar .mat-mdc-snack-bar-label {
  color: white !important;
}

.success-snackbar .mat-mdc-snack-bar-action,
.error-snackbar .mat-mdc-snack-bar-action,
.warning-snackbar .mat-mdc-snack-bar-action {
  color: white !important;
  --mat-text-button-state-layer-color: rgba(255, 255, 255, 0.12) !important;
}